<html>
  <head>
  </head>
  <body>
    <h1> Bienvenido</h1>
    <form>

      <div class="container">
        <label ><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required  [(ngModel)]="valor1">

        <label ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="valor2">

        <button type="submit">Login</button>

      </div>

      <br/>
     <span>{{valor1}}</span>
    <br/>
    <span>{{valor2}}</span>
    <br/>
    <button (click)="getAuser()">Sumar</button>
    <button (click)="restar()">Restar</button>
    <button (click)="multiplicar()">Restar</button>
    <button (click)="dividir()">Restar</button>
    <h1>{{username}}</h1>
    </form>
  </body>

</html>


